body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   margin: 0;
   padding: 0;
}

h1, h2, h3 {
  font-weight: 300;
}
h1.hero {
  font-size: 40pt;
}
h3 small {
  display: block;
}

img.medium {
  width: 300px;
}

.btn {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 12.5px 25px;
  margin: 5px 0 10px 0;
  display: inline-block;
  text-align: center;
  font-weight: 100;
  height: auto;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
.btn.alt {
  background-color: white;
  color: black;
}

.sig {
  width: 80px;
  position: relative;
  bottom: -20px;
}