.section {
  width: 100%;
}
.maroon {
  background-color: #bb5d4b;
  color: #bb5d4b;
  text-decoration:
}
.maroon small {
  color: white;
  font-weight: bold;
  text-align: center;
  width: 100%;
  display: block;
}
.maroon h1 {
  text-align: center;
}
.maroon em {
  background-color: #fff;
}
.blue {
  background-color: #83d7e5;
  color: #fff;
}
.blue .content {
  background-color: #83d7e5;
}

.blog .content {
  width: 900px;
}
.blog h3 {
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
  display: block;
  font-size: 28px;
  line-height: 1.1;
  color: #333332;
  margin-bottom: 4px;
}
.blog h3 a {
  color: inherit;
  text-decoration: none;
}
.blog p {
  letter-spacing: -0.02em;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  width: 700px;
  color: #666665;
  margin: 40px auto;
}
.blog blockquote {
  font-size: 1.9em;
  font-family: georgia, serif;
  color: #666;
  margin: 20px auto;
  width: 600px;
  text-align: center;
}
.blog blockquote p{
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  margin: inherit;
  width: inherit;
  text-align: inherit;
}
.blog h1, .blog h2, .blog h3 {
  font-family: georgia, serif;
  color: #666;
  margin: 20px auto;
  width: 700px;
  text-align: center;
}
.blog small {
  color: #b3b3b1;
  font-size: 12pt;
}
.card-section {
  padding-top: 130px;
}
.card {
  background-color: rgba(255,255,255,0.6);
  margin: 0px auto;
  padding-top: 25px;
  height: 300px;
  width: 560px;
}
.card img {
  width: 400px;
}
.banner {
  background-color: rgba(0,0,0,0.6);
  color: white;
  font-size: 20px;
  font-weight: 300;
  margin: 0 auto;
  margin-bottom: 0.5em;
  padding: 30px;
  text-align: center;
  width: 530px;
}
.banner-hero {
  font-size: 55.55555725097656px;
  font-weight: 900;
  height: 48.88888931274414px;
  letter-spacing: -4.400000095367432px;
  line-height: 49.5px;
  text-align: center;
  text-rendering: optimizelegibility;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.content {
  position: relative;
  padding: 50px 0;
  margin: 0 auto;
  max-width: 980px;
  width: 100%;
}

.cable {
  background: url(/media/images/cable.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  position: absolute;
  top: 500px;
  left: 45%;
  margin: 0 auto;
  height: 1000px;
  width: 90px;
}
.coffee-croissant {
  background: url(/media/images/bg/coffee_croissant.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.twitter.content {

}
.thoughtworks {
  position: relative;
  background: url(/media/images/bg/glyphs.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 999;
}
.tech-radar {
  position: relative;
  background: url(/media/images/bg/tech-radar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 999;
}

.huge-icon {
  color: #fff;
  font-size: 100pt;
}
.blue .huge-icon {
  background-color: #83d7e5;
}

.col {
  float: left;
  display: inline-block;
  width: 50%;
}
